.app {
  display: flex;
  flex-direction: column;
  text-align: center;
  padding-inline: 5vw;
}

.section {
  margin-top: 1rem;
}

section.table {
  align-self: center;
  width: 420px;
}

.pie {
  height: 500px;
}
